<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="providers" type="LNF.ProvidersSection, LNF" />
      <section name="redis" type="LNF.Impl.Redis.RedisConfigurationSection, LNF.Impl" />
    </sectionGroup>
  </configSections>

  <lnf>
    <providers production="false">
      <context type="LNF.Impl.WebContextProvider, LNF.Impl" loginUrl="/login" />
      <dataAccess type="LNF.Impl.NHibernateWebDataAccess, LNF.Impl" />
      <serialization type="LNF.Impl.Serialization.SerializationProvider, LNF.Impl" />
      <email type="LNF.Impl.Email.EmailProvider, LNF.Impl" host="127.0.0.1" log="true" />
      <control type="LNF.Impl.Control.Wago.WagoControl, LNF.Impl" host="http://wagosvr:7778/" />
      <log type="LNF.Impl.Logging.ServiceLogProvider, LNF.Impl" name="LabScheduler" enabled="true" />
      <modelFactory type="LNF.Impl.ModelFactory.ValueInjecterModelFactory, LNF.Impl" />
    </providers>
    <redis>
      <connection host="cachesvr" databaseId="5" />
    </redis>
  </lnf>

  <connectionStrings>
    <add name="cnSselData" connectionString="*****" />
  </connectionStrings>
  
  <appSettings>
    <add key="MongoConnectionString" value="*****" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
